Package: mythtv-controller
Version: 0.37.4
Architecture: amd64
Maintainer: Hans-Henrik Grüner-Pedersen <hanshenrik32@gmail.com>
Installed-Size: 285013
Depends: libvlccore9, libvlc-bin, libvlc5, freeglut3, libdevil1c2, libmysqlclient20, lirc
Section: unknown
Priority: optional
Homepage: http://www.hjemmebioklubben.dk
Description: Touch screen mediacenter.
 mythtv/kodi support. Tv guide by xmltv graber.
 Play music from mythtv and kodi backend db.
 Stream music from 12000 radio statios.
 Play movies from internal/mythtv/kodi database.
 Play/record tv soon.
