#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

PROG       = mythtv-controller
EXECUTABLE = mythtv-controller
CONFIG_FILE= mythtv-controller.conf
DESTDIR    = /usr/share/mythtv-controller
DESTDIRBIN = /usr/local/bin
DESTIMG    = /opt/mythtv-controller/images
DESTLIBDIR = /usr/local/lib
DESTHDRDIR = /usr/local/include/fmodex
ETCDIR     = /etc
FMODFILE   = fmodstudioapi20107linux.tar.gz
BINPROG    = /usr/bin/mythtv-controller
FREETYPELIB= /usr/lib/x86_64-linux-gnu/libfreetype.so
LBITS      = $(shell getconf LONG_BIT)

STDCLIB = /usr/lib/x86_64-linux-gnu/libstdc++.so.6
LIBGL:=$(shell find /usr/lib/ -name 'libGL.so')
LIBGLC:=$(shell find /usr/lib/ -name 'libGLC.so')
LIBICAL:=$(shell find /usr/lib/ -name 'libical.so')
LIRCSOURCES := $(shell find /usr/lib/ -name 'liblirc_client.so')
LIBFMOD    = /opt/mythtv-controller/fmodstudioapi20107linux/api/core/lib/x86_64/libfmod.so
LIBS = -lX11 -lglut -lGLU -lm -lIL -lSDL `sdl-config --libs` -lSDL_image -lpthread -lxml2 -lcurl -lOpenGL
OPTS = -I "/usr/include/GL" -I"/usr/include/libical"  -I"/usr/local/include/fmodex/" -I"/usr/include/lirc" -I"/usr/local/include" -I"/usr/include/SDL/" -I"/usr/local/lib/" -I"/usr/lib" -I"/usr/include/mysql" -I/usr/include/GL/ -L/usr/X11R6/lib  -L"/usr/lib" -L"/usr/lib/mysql" -L"/usr/lib/vlc" -lmysqlclient $(LIRCSOURCES) $(LIBICAL) $(LIBFMOD) $(STDCLIB) $(GLLIB) $(LIBGL) -lsqlite3 -lvlc -lfontconfig $(FREETYPELIB) $(LIBGLC) -lXrandr -I/usr/include/libxml2
SRCS = main.cpp myctrl_readwebfile.cpp myctrl_stream.cpp myctrl_music.cpp myctrl_mplaylist.cpp myctrl_radio.cpp myth_setupsql.cpp  myctrl_recorded.cpp myctrl_movie.cpp myctrl_tvprg.cpp myth_setup.cpp utility.cpp readjpg.cpp loadpng.cpp myth_saver.cpp myth_picture.cpp myth_ttffont.cpp checknet.cpp dds_loader.cpp myctrl_xbmc.cpp myth_vlcplayer.cpp myctrl_spotify.cpp myctrl_tidal.cpp mongoose-master/mongoose.c json-parser/json.c

%:
	dh $@ 

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
override_dh_auto_configure:
	install -D -m 0755 mythtv-controller $$(pwd)/debian/mythtv-controller/usr/bin/mythtv-controller
	#dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

clean:
	-$(MAKE) clean
	@# Do nothning

build:
	@if ! test -d ~/.config/lirc/; then \
        	mkdir  ~/.config/lirc/; \
                cp lirc/* ~/.config/lirc/; \
        fi
	gcc -Wformat-truncation -pthread -m64 -Wformat-overflow -std=c++11 -ggdb -o $(PROG) $(SRCS) $(OPTS) $(LIBS)
	@# Do nothning

binary:
	cp $(CONFIG_FILE) debian/mythtv-controller/etc
	mkdir -p debian/mythtv-controller/opt/mythtv-controller
	chmod 755 debian/mythtv-controller/opt/mythtv-controller
	mkdir -p debian/mythtv-controller/opt/mythtv-controller/images/radiostations
	cp mythtv-controller debian/mythtv-controller/usr/bin
	cp -r images tema1 tema2 tema3 tema4 tema5 tema6 tema7 tema8 tema9 tema10 debian/mythtv-controller/opt/mythtv-controller/
	cp -r xmltv_config debian/mythtv-controller/opt/mythtv-controller/
	# icon
	cp mythtv-controller.desktop debian/usr/share/applications/
	cp mythtv-controller.desktop debian/usr/share/icons/hicolor/48x48/apps/
	# sound system fmod
	cp mythtv-controller.png fmodstudioapi20107linux.tar.gz mongoose-master.zip debian/mythtv-controller/opt/mythtv-controller/
	@chmod 644 debian/mythtv-controller/opt/mythtv-controller/fmodstudioapi20107linux.tar.gz
	@chmod 644 debian/mythtv-controller/opt/mythtv-controller/mongoose-master.zip
	@chmod -R 644 debian/mythtv-controller/opt/mythtv-controller/fmodstudioapi20107linux/*
	@tar -C debian/mythtv-controller/opt/mythtv-controller/ -zxf fmodstudioapi20107linux.tar.gz fmodstudioapi20107linux/api/
	@unzip -n mongoose-master -d debian/mythtv-controller/opt/mythtv-controller/
	@tar -zxvf json-parser.tar.gz -C debian/mythtv-controller/opt/mythtv-controller/ json-parser/json.c json-parser/json.h
	@if [ -L debian/mythtv-controller/usr/lib/libfmod.so.12 ]; then rm debian/mythtv-controller/usr/lib/libfmod.so.12; fi
	@ln -s /opt/mythtv-controller/fmodstudioapi11014linux/api/lowlevel/lib/x86_64/libfmod.so.10.14 debian/mythtv-controller/usr/lib/libfmod.so.12
	@chown root:root -R debian/mythtv-controller/opt/mythtv-controller/fmodstudioapi20107linux/*
	# create random password
	#PASSWDDB="$(openssl rand -base64 12)"
	PASSWDDB="qwerty123"
	# replace "-" with "_" for database username
	MAINDB="mythtvcontroller"
	# If /root/.my.cnf exists then it won't ask for root password
	#if [ -f /root/.my.cnf ]; then mysql -e "CREATE DATABASE ${MAINDB} /*\!40100 DEFAULT CHARACTER SET utf8 */;"; fi
	#if [ -f /root/.my.cnf ]; then mysql -e "CREATE USER ${MAINDB}@localhost IDENTIFIED BY '${PASSWDDB}';"; fi
	#if [ -f /root/.my.cnf ]; then mysql -e "GRANT ALL PRIVILEGES ON ${MAINDB}.* TO '${MAINDB}'@'localhost';"; fi
	#if [ -f /root/.my.cnf ]; then mysql -e "FLUSH PRIVILEGES;"; fi
	# If /root/.my.cnf doesn't exist then it'll ask for root password
	#if ! [ -f /root/.my.cnf ]; then echo "Please enter root user MySQL password!"; fi
	#if ! [ -f /root/.my.cnf ]; then echo "Note: password will be hidden when typing"; fi
	#if ! [ -f /root/.my.cnf ]; then /bin/bash -c read -sp rootpasswd; fi
	#if ! [ -f /root/.my.cnf ]; then mysql -uroot -p${rootpasswd} -e "CREATE DATABASE ${MAINDB} /*\!40100 DEFAULT CHARACTER SET utf8 */;"; fi
	#if ! [ -f /root/.my.cnf ]; then mysql -uroot -p${rootpasswd} -e "CREATE USER ${MAINDB}@localhost IDENTIFIED BY '${PASSWDDB}';"; fi
	#if ! [ -f /root/.my.cnf ]; then mysql -uroot -p${rootpasswd} -e "GRANT ALL PRIVILEGES ON ${MAINDB}.* TO '${MAINDB}'@'localhost';"; fi
	#if ! [ -f /root/.my.cnf ]; then mysql -uroot -p${rootpasswd} -e "FLUSH PRIVILEGES;"; fi
	dh_gencontrol
	dh_installdeb
	dh_builddeb

	