#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

PROG       = mythtv-controller
EXECUTABLE = mythtv-controller
CONFIG_FILE= mythtv-controller.conf
DESTDIR    = /usr/share/mythtv-controller
DESTDIRBIN = /usr/local/bin
DESTIMG    = /usr/share/mythtv-controller/images
DESTLIBDIR = /usr/local/lib
DESTHDRDIR = /usr/local/include/fmodex
ETCDIR     = /etc
FMODFILE   = fmodstudioapi11011linux.tar.gz
BINPROG    = /usr/bin/mythtv-controller
FREETYPELIB= /usr/lib/x86_64-linux-gnu/libfreetype.so
LBITS      = $(shell getconf LONG_BIT)

STDCLIB = /usr/lib/x86_64-linux-gnu/libstdc++.so.6
LIBGL:=$(shell find /usr/lib/ -name 'libGL.so')
LIBGLC:=$(shell find /usr/lib/ -name 'libGLC.so')
LIBICAL:=$(shell find /usr/lib/ -name 'libical.so')
LIRCSOURCES := $(shell find /usr/lib/ -name 'liblirc_client.so')
LIBFMOD    = /usr/share/mythtv-controller/fmodstudioapi11011linux/api/lowlevel/lib/x86_64/libfmod.so
LIBS = -lX11 -lglut -lGLU -lm -lIL -lSDL `sdl-config --libs` -lSDL_image -lpthread -lxml2
OPTS = -I "/usr/include/GL" -I"/usr/include/libical"  -I"/usr/local/include/fmodex/" -I"/usr/include/lirc" -I"/usr/local/include" -I"/usr/include/SDL/" -I"/usr/local/lib/" -I"/usr/lib" -I"/usr/include/mysql" -I/usr/include/GL/ -L/usr/X11R6/lib  -L"/usr/lib" -L"/usr/lib/mysql" -L"/usr/lib/vlc" -lmysqlclient $(LIRCSOURCES) $(LIBICAL) $(LIBFMOD) $(STDCLIB) $(GLLIB) $(LIBGL) -lsqlite3 -lvlc -lfontconfig $(FREETYPELIB) $(LIBGLC) -lXrandr -I/usr/include/libxml2
SRCS = main.cpp myctrl_readwebfile.cpp myctrl_stream.cpp myctrl_music.cpp myctrl_mplaylist.cpp myctrl_radio.cpp myth_setupsql.cpp  myctrl_recorded.cpp myctrl_movie.cpp myctrl_tvprg.cpp myth_setup.cpp utility.cpp readjpg.cpp loadpng.cpp myth_saver.cpp myth_picture.cpp myth_ttffont.cpp checknet.cpp dds_loader.cpp myctrl_xbmc.cpp myth_vlcplayer.cpp

%:
	dh $@ 

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
override_dh_auto_configure:
	install -D -m 0755 mythtv-controller $$(pwd)/debian/mythtv-controller/usr/bin/mythtv-controller
	#dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

clean:
	-$(MAKE) clean
	@# Do nothning

build:
	@if ! test -d ~/.config/lirc/; then \
        	mkdir  ~/.config/lirc/; \
                cp lirc/* ~/.config/lirc/; \
        fi
	gcc -Wformat-truncation -pthread -m64 -Wformat-overflow -std=c++11 $(BUILD_NUMBER_LDFLAGS) -ggdb -o $(PROG) $(SRCS) $(OPTS) $(LIBS)
	@# Do nothning

binary:
	cp $(CONFIG_FILE) debian/mythtv-controller/etc
	mkdir -p debian/mythtv-controller/usr/share/mythtv-controller
	chmod 755 debian/mythtv-controller/usr/share/mythtv-controller
	mkdir -p debian/mythtv-controller/usr/local/bin
	chmod 755 debian/mythtv-controller/usr/local/bin
	mkdir -p debian/mythtv-controller/usr/lib
	chmod 755 debian/mythtv-controller/usr/lib
	mkdir -p debian/mythtv-controller/usr/share/mythtv-controller/images/radiostations
	cp mythtv-controller debian/mythtv-controller/usr/local/bin
	cp -r images tema1 tema2 tema3 tema4 tema5 tema6 tema7 tema8 tema9 tema10 debian/mythtv-controller/usr/share/mythtv-controller/
	cp -r xmltv_config debian/mythtv-controller/usr/share/mythtv-controller/
	cp mythtv-controller.png fmodstudioapi11011linux.tar.gz debian/mythtv-controller/usr/share/mythtv-controller/
	chmod 644 debian/mythtv-controller/usr/share/mythtv-controller/fmodstudioapi11011linux.tar.gz
	chmod -R 644 debian/mythtv-controller/usr/share/mythtv-controller/fmodstudioapi11011linux/*
	tar -C debian/mythtv-controller/usr/share/mythtv-controller/ -zxf fmodstudioapi11011linux.tar.gz fmodstudioapi11011linux/api/
	if [ -h "debian/mythtv-controller/usr/lib/libfmod.so.10" ]; then rm debian/mythtv-controller/usr/lib/libfmod.so.10; fi
	ln -s  /usr/share/mythtv-controller/fmodstudioapi11011linux/api/lowlevel/lib/x86_64/libfmod.so.10.11 debian/mythtv-controller/usr/lib/libfmod.so.10
	chown root:root -R debian/mythtv-controller/usr/share/mythtv-controller/fmodstudioapi11011linux/*
	dh_gencontrol
	dh_installdeb
	dh_builddeb
	
