[Desktop Entry]
Type=Application
Terminal=false
Version=0.37.1
Name=Myhthtv-controller
Comment=Touch screen Mediacenter
Icon=/usr/share/mythtv-controller/mythtv-controller.png
Exec=/usr/local/bin/mythtv-controller

